@media screen and (max-width: 400px){
#site-search {
    min-width: 90px;    
    padding: 0px;
    align-self: center;
}

#site-logo {
    width: 60px;
}

.main-header{
    padding-left: 10px;
    padding-right: 10px;
}

.main-navigation{
    max-height: 0px;
    overflow: hidden;
}

.nav-button{
    align-self: flex-start;
    width: 44px;
    height: 44px;
    front-si
}


}