:root {
  /* CSS HSL */
  --night: hsla(90, 8%, 5%, 1);
  --pumpkin: hsla(23, 94%, 51%, 1);
  --ash-gray: hsla(103, 4%, 64%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --dim-gray: hsla(120, 1%, 38%, 1);
  --light-gray: hsla(120, 1%, 86%, 1);
  --nav-text-size: 1.5em;
}

body {
  /* background-color: #282828;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/tile.png");
    background-size: cover;
    background-repeat:no-repeat; */
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--night);
  padding-left: 30px;
  padding-right: 30px;
}

#site-logo {
  max-width: 120px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-navigation a {
  color: var(--ash-gray);
  text-decoration: none;
  font-size: var(--nav-text-size);
  padding: 1em;
}

.user-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-nav a {
  color: var(--pumpkin);
  text-decoration: none;
  font-size: var(--nav-text-size);
  padding: 1em;
}

.user-nav a:hover {
  color: var(--ash-gray);
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#site-search {
  display: flex;
  flex-direction: row;
  min-width: 400px;
  padding: 1em;
}

#site-search input {
  flex: 1;
  padding: 0.5em;
  border: 1px solid var(--ash-gray);
  border-radius: 5px 0px 0px 5px;
}

#site-search button {
  background-color: var(--pumpkin);
  padding: 0.5em;
  border: 1px solid var(--ash-gray);
  border-radius: 0px 5px 5px 0px;
}

.nav-button {
  display: none;
}

.slide {
  min-height: 50vh;
  background-color: var(--pumpkin);
  min-width: 100%;
  display: grid;
  place-items: center;
  font-size: 32px;
  color: white;
  position: relative;
}

.slide-content img {
  max-height: 50vh;
  display: block;
}

.slide-content {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.slide-cta-button {
  position: absolute;
  bottom: 1em;
  padding: 1em;
  min-width: 300px;
  font-size: 18px;
  border-radius: 1em;
  background-color: var(--black);
  color: var(--ash-gray);
  text-align: center;
  text-decoration: none;
}

.main-footer {
  background-color: var(--ash-gray);
  padding: 1em;
}

.footer-nav {
  display: flex;
  flex-flow: column nowrap;
}

.footer-nav a {
  color: var(--black);
  text-decoration: none;
}

.social-nav {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.social-nav a {
  color: var(--black);
  font-size: 32px;
}

.social-nav h3 {
  width: 100%;
  margin-bottom: 0;
}

.footer-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.copyright {
  text-align: center;
  margin-top: 2em;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  background-color: var(--black);
  top: 100%;
  min-width: 100%;
  max-height: 0px;
  overflow: hidden;
}

.dropdown:hover .dropdown-menu {
  max-height: 300px;
}

.dropdown>a::after {
  content: "\25bc";
  font-size: 0.6em;
  margin-left: 0.5em;
}

.dropdown-menu a {
  white-space: nowrap;
}

.dropdown {
  position: relative;
}

.dropdown a {
  display: block;
}

.content {
  margin: 3em 2em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5em;
}

.column-4 {
  grid-column: span 4;
}

.column-3 {
  grid-column: span 3;
}
.column-12 {
  grid-column: span 12;
}

.card {
  border: 1px solid var(--ash-gray);
  border-radius: 1em;
  overflow: hidden;
}

.card-image {
  max-width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: center;
}

.card-content {
  padding: 1.5em;
}

.card-content a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
  background-color: var(--light-gray);
  color: var(--black);
}
.card-content a:hover {
  background-color: var(--black);
  color: white;
}

.second-banner {
  aspect-ratio: 16/4;
  display: grid;
  place-items: center;
  background-color: var(--light-gray);
  background-image: url("images/banners/pexels-ingo-609771.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.second-banner h3 {
  font-size: 4em;
  color: var(--black);
  text-shadow: 0px 0px 2px var(--light-gray);
}