:root {
/* CSS HSL */
--chamoisee: hsla(33, 24%, 46%, 1);
--caf-noir: hsla(32, 54%, 19%, 1);
--drab-dark-brown: hsla(64, 61%, 13%, 1);
--bistre: hsla(33, 59%, 10%, 1);
--walnut-brown: hsla(37, 15%, 28%, 1);
}

body { /*
    text-decoration: underline;
    color: rgb(255, 136, 0);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("image/BG_3D.avif");
    background-size: cover;
    background-repeat: no-repeat;*/
 

}
h1 {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
}
h2 {
    color: rgb(255, 136, 0);
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    display: block;
}
h3 {
    color: rgb(255, 136, 0);
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    display: block;
}
#poster{
    margin: auto;
    display: block;
    
}

#Home{
    width: 28px;
 
}

#Contact
{
    width: 25px;
 
}
#dino{
    max-width: 1oopx;
    margin: auto;
    display: block;
}

.main-header
{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   background-color: var(--drab-dark-brown);
}

